<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}RequestBin &mdash; Collect, inspect and debug HTTP requests and webhooks{% endblock %}</title>
    {% block icon %}<link href="/static/img/logo.png" rel="shortcut icon" />{% endblock %}
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/responsive.css" rel="stylesheet" media="screen">
    <link href="/static/css/styles.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link type="text/css" href="/static/css/prettify.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body onload="prettyPrint()">

    <div class="runscope-wrap">
        <div class="row-fluid">
            <p class="tagline">A <a href="https://www.runscope.com?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin" title="Runscope API Tools"><strong>Runscope</strong></a> community project. <a href="mailto:requestbin@runscope.com">Send us feedback!</a></p>
        </div>
    </div>
    <div class="header-wrap">
        <header class="row-fluid">
            <div class="span12">
              <h1 class="logo">
                <a href="/"><img src="/static/img/logo-2x.png" height="38" width="44" /></a>
                <a href="/"><span class="logo-accent">Request</span>Bin</a>
              </h1>
                <nav>
                    <ul class="nav-menu">
                        <li>{% block binurl %}{% endblock %}</li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <div id="content" class="row-fluid">
      {% set width = 12 %}
      {% if recent %} {% set width = 10 %} {% endif %}
      <div class="span{{width}} content-wrap">
          {% block content %}
          {% endblock %}
      </div>

      {% if recent %}
        <div class="span2">
          {% block sidebar %}
          <h5><i class="icon-time"></i> History</h5>
          <ul id="recent">
            {% for bin in recent %}
            <li>
              <a href="/{{bin.name}}?inspect"><i class="icon-circle" style="color: rgb{{bin.color}}"></i></a>
              <a href="/{{bin.name}}?inspect">{{bin.name}}</a> {% if bin.private %}<i class="icon-lock"></i>{% endif %}
              ({{bin.request_count}})

            </li>
            {% else %}
            <p style="margin-left: -24px; color: gray;">
              No recent bins.
            </p>
            {% endfor %}
          </ul>
          {% endblock %}
        </div>
        {% endif %}
    </div>

    <div class="footer-wrap">
        <footer class="row-fluid">
            <div class="span12">
                <div class="footer-logo">
                    <img src="/static/img/logo-runscope-2x.png" height="34" width="34">
                </div>
                <h3 class="footer-slogan">
                  RequestBin is brought to you by Runscope.<br>Solve API errors fast. Debug, test and share your API calls.
                  <br>
                  <a href="https://www.runscope.com/?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin">Learn more <i class="icon-long-arrow-right"></i></a>
                </h3>

                <p class="footer-hero">
                    <a href="https://www.runscope.com/?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin" title="Learn More"><img src="/static/img/runscope-hero.png"></a>
                </p>

                <ul class="footer-menu">
                    <li class="footer-link footer-title">Runscope</li>
                    <li class="footer-link"><a href="https://www.runscope.com/?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin" title="Learn More">Learn More</a></li>
                    <li class="footer-link"><a href="http://blog.runscope.com" title="Runscope Blog">Blog</a></li>
                    <li class="footer-link"><a href="https://twitter.com/Runscope" title="Follow Runscope on Twitter">Twitter</a></li>
                    <li class="footer-link"><a href="https://plus.google.com/110044295418761600228" rel="publisher">Google+</a></li>
                    <li class="footer-link"><a href='https://alpha.app.net/runscope' rel='me'>App.net</a></li>
                </ul>
                <p class="copyright">RequestBin originally created by <a href="http://progrium.com">Jeff Lindsay</a>.</p>
                <p class="copyright">&copy; 2013 Runscope Inc. - <a href="https://www.runscope.com/privacy?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin">Privacy Policy</a> - <a href="https://www.runscope.com/terms?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin">Terms of Service</a></p>
            </div>
        </footer>
    </div>

    {% block script %}
    {% endblock %}
    
  </body>
</html>
